@font-face {
    src: url(./fonts/Lato-Black.ttf);
    font-family: Lato-Black;
}
@font-face {
    src: url(./fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}
@font-face {
    src: url(./fonts/MYRIADPRO-REGULAR.OTF);
    font-family: MyriardPro-Regular;
}
@font-face {
    src: url(./fonts/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold;
}
@font-face {
    src: url(./fonts/OpenSans-Light.ttf);
    font-family: OpenSans-Light;
}
@font-face {
    src: url(./fonts/OpenSans-Semibold.ttf);
    font-family: OpenSans-Semibold;
}
@font-face {
    src: url(./fonts/OpenSans.ttf);
    font-family: OpenSans;
}
@font-face {
    src: url(./fonts/Oswald-Bold.ttf);
    font-family: Oswald-Bold;
}
@font-face {
    src: url(./fonts/Oswald-Light.ttf);
    font-family: Oswald-Light;
}
@font-face {
    src: url(./fonts/Poppins-ExtraBold.ttf);
    font-family: Poppins-ExtraBold;
}
@font-face {
    src: url(./fonts/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face {
    src: url(./fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-SemiBold;
}
@font-face {
    src: url(./fonts/Roboto-Bold.ttf);
    font-family: Roboto-Bold;
}
@font-face {
    src: url(./fonts/Roboto-Italic.ttf);
    font-family: Roboto-Italic;
}
@font-face {
    src: url(./fonts/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}